body{
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background-color: white;
}

*{
    font-family: Microsoft YaHei;
}

header{
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #042940;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1{
    margin: 0px;
}

main{
    width: 93%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside{
    height: 100%;
    width: 7%;
    background-color: #042940;
    transition: 1.5s;
    position: fixed;
    left: 0px;
    height: 100vh;
    box-shadow: 0 0 10px black;
}

section{
    height: 90%;
    width: 100%;
}

section > iframe{
    height: 95%;
    width: 100%;
}

aside:hover{
    width: 20%;
    transition: 1s;
    background-color: #005C53;
}

aside:hover + main > header{
    border-bottom: 2px solid #005C53;
}

