@font-face {
    font-family: typewriter;
    src: url(../ELEGANT\ TYPEWRITER\ Regular.ttf);
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    /*background-color: #042940;*/
}

*{
    font-family: Microsoft YaHei;
}

header{
    width: 100%;
    height: 40%;
    /*border-bottom: 2px solid white;*/
    /*background-color: #005C53;*/
    background: linear-gradient( to bottom right, #005C53, #0a4264 ,#042940);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.titolo{
    height: 98%;
    width: 28%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#img{
    width: 100%;
    height: 40%;
    background-image: url(../img/innovationW.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.titolo > h1{
    margin: 0px;
    color: white;
    padding-left: 2%;
}

main{
    width: 100%;
    height: 60%;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

aside{
    height: 100%;
    width: 27%;
    transition: 1.5s;
    /*border-right: 3px solid #042940;*/
    display: flex;
    align-items: center;
}

.lista{
    height: 90%;
    width: 90%;
    position: relative;
    margin-left: -50%;
    border-radius: 0% 50% 50% 0%;
    border: 2px solid #005C53;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.articolo{
    position: absolute;
    background-color: #0a4264;
    color: white;
    font-size: larger;
    border: none;
    box-shadow: 0 0 10px rgb(53, 53, 53);
    width: 50%;
    border-radius: 10px;
}

.articolo:first-child{
    left: 65%;
    top: 10%;
}

.articolo:nth-child(2){
    left: 75%;
    top: 35%;
}

.articolo:nth-child(3){
    left: 75%;
    top: 60%;
}

.articolo:last-child{
    left: 65%;
    top: 85%;
}



section{
    height: 140%;
    width: 65%;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 30%;
    background-color: white;
    box-shadow: 0 0 10px rgb(53, 53, 53);
    border-radius: 50px 50px 0px 0px;
    animation: section 1.5s normal;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 69px;
}

article{
    height: 90%;
    width: 90%;
}

article > h1{
    font-size: 25px;
    font-family: typewriter;
}

#art2, #art3, #art4{
    display: none;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    visibility: visible;
    animation: text 1.5s linear;
    align-items: center;
    font-family: typewriter;
}

.text > img{
    width: 75%;
    height: auto;
    box-shadow: 0 0 5px rgb(53, 53, 53);
    border-radius:10px;
}

.text > *, .text li{
    margin-bottom: 20px;
    font-family: typewriter;
}


@keyframes section{
    0%{
        height: 20%;
    }
    
    100%{
        height: 140%;
    }
}

@keyframes text{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

